* {
    margin: 0;
    padding: 0;
}

body {
    background: #222222;
    overflow: auto;
    height: 100%;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #284d71;
}

.mi-foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/**CONTENTS**/
#page-container {
    position: relative;
    top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans';
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    width: 60%;
    max-width: 800px;
    border-radius: 20px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 20px;

}

.content h1 {
    margin: 10px;
}

.content h2 {
    font-size: 20px;
}

.content-nav {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #343a40;

    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.8);
}

.content-nav nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.content-nav nav ul {

    display: flex;
    list-style: none;
}

.content-nav nav ul li a {

    color: white;
    text-align: none;
    margin: 0 15px;
    padding: 3px;
    font-family: 'Work Sans';
    text-decoration: none;

}

.content-nav a:hover {
    color: #1CB698;

}

.redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 48px 5px;
    font-size: 20px;
    text-align: center;
}

.redes a:hover {

    background-color: #1CB698;

}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    width: 60%;
    max-width: 900px;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

.content2 h2 {
    font-family: 'Kanit';
    font-size: 40px;
    margin-bottom: 20px;
}

.content2 .image-container {
    display: flex;
    justify-content: center;
}

.content2 a {
    position: relative;
}

.content2 a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.content2 a:hover::before {
    content: 'Piedra,Papel,Tijera';
    font-family: 'Kanit';
    color: black;
    opacity: 1;
    font-size: 30px;
}

.content2 a:nth-child(2):hover::before {
    content: 'Tiendas Naturales';
}

.content2 a:nth-child(3):hover::before {
    content: 'Ecommerce';
}

.content2 img {
    border-radius: 10%;
    margin: 10px;
    width: 250px;
    height: auto;
    transition: filter 0.3s ease;
}

.content2 img:hover {
    filter: grayscale(100%) opacity(0.8);
}


/**SOBRE-MI**/
.sobre-mi {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.sobre-mi h1 {
    font-size: 40px;
    font-family: 'Kanit';
    margin: 10px;
}

.sobre-mi p {
    margin: 20px;
    font-size: 20px;
    font-family: 'Work Sans';
}

.sobre-mi span {
    color: #015958;
    font-size: 20px;
}

.sobre-mi-contenido {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sobre-mi ul li strong {
    font-family: 'Work Sans';

}

.col,
.hobbies {
    width: 48%;
}

.col h2 {
    margin: 20px;
    font-family: 'Work Sans';
}

.col ul,
.hobbies ul {
    list-style: none;
    padding: 0;
}

.col ul li,
.hobbies ul li {
    margin-bottom: 10px;
}

.col strong {
    color: #015958;
}

/**HOBBIES**/
.hobbies {
    display: flex;
    flex-direction: row;

    margin: 20px;
}

.hobbies h2 {
    font-family: 'Work Sans';
    margin: 30px;
}

.hobbies img {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
}

.hobbies img:hover {
    background-color: #1CB698;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343a40;
    position: relative;
}

.footer h1 {
    font-family: 'Kanit';
    color: #fff;
    margin: 0;
}

.footer .redes {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#scrollToTopButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.skills {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-left: 250px;
    width: 60%;
    text-align: center;
}

.skills h1 {
    color: #015958;
    font-family: 'Kanit';
    font-size: 40px;
}

.skills h2 {
    color: #015958;
    font-family: 'Kanit';

}

#html {
    color: #E34C26;
    font-size: 64px;
}

#css {
    color: #264DE4;
    font-size: 64px;
}

#javascript {
    color: #F0DB4F;
    font-size: 64px;
}

#react {
    color: #61DBFB;
    font-size: 64px;
}

#sass {
    color: #cc6699;
    font-size: 64px
}

#github {
    font-size: 64px;
}

.skills img {
    width: 64px;
}

.nav {
    display: none;
}

.hamburger {
    display: none;
}

.close {
    display: none;
}

/*Responsive*/
@media only screen and (max-width: 768px) {

    .content h1 {
        font-size: 30px;
    }


    .sobre-mi-contenido {
        flex-direction: column;
    }

    .col,
    .hobbies {
        width: 100%;
        flex-direction: column;
        margin: 0px;

    }



    .content2 img {
        width: 100%;
        max-width: 300px;
        margin: 0px;
    }

    #html,
    #css,
    #javascript,
    #react,
    #sass,
    #github {
        font-size: 40px;
    }

    
    .skills img {
        width: 40px;
    }

    .hamburger,
    .close {
        display: block;
        margin: 1rem;
        font-size: 30px;
        background-color: #343a40;
        color: #fff;
        border-style: none;
    }

    .nav {
        flex-direction: column;
    }

    .content-nav nav ul {
        flex-direction: column;
        align-items: center;
    }

    #overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .content2 .image-container {
        flex-direction: column;
    }

    .skills {
        margin-left: 130px;
    }
}

@media only screen and (max-width: 425px) {
    .skills {
        margin-left: 63px;
    }

}