* {
    margin: 0;
    padding: 0;
}

body {
    background: #222222;
    overflow: auto;
    height: 100%;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #284d71;
    /* Gris azulado */

}

/**  BOXS   **/

.box2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);

    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-top: 20px;
}

.mi-foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    ;
    object-fit: cover;
}

#page-container {
    position: relative;
    top: 50px;
}




/**CONTENTS**/
.content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans';
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    width: 60%;
    max-width: 800px;
    border-radius: 20px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 20px;

}

.content h1 {
    margin: 10px;
}

.content h2{
    font-size: 20px;
}

.content-nav {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #343a40;

    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.8);
}


.content-nav nav {
    display: flex;
 flex-direction:row;
 justify-content: center;
    margin: 10px;
}

.content-nav nav ul {

    display: flex;
    list-style: none;
}

.content-nav nav ul li a {

    color: white;
    text-align: none;
    margin: 0 15px;
    padding: 3px;
    font-family: 'Work Sans';
    text-decoration: none;

}

.content-nav a:hover {
    color: #1CB698;

}

.redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 48px 5px;
    font-size: 20px;
    transition: .3s;
    text-align: center;
}

.redes a:hover {

    background-color: #1CB698;

}

.content2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    width: 60%;
    max-width: 800px;
    border-radius: 20px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 20px;

}

.content2 img {
    width: 200px;
    height: 200px;

}

.content2 h2 {

    font-family: 'Work Sans';
    margin: 20px;

}

.content2 img {
    border-radius: 10px;

}

/**SOBRE-MI**/
.sobre-mi {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.sobre-mi h1 {
display: flex;
justify-content: center;
font-size: 40px;
    font-family: 'Work Sans';

}

.col h2{
font-family: 'Work Sans';

}
.col ul li{

 text-decoration: none;
 list-style: none;   
font-family: 'Work Sans';

}